/******************************************************************

Variables

******************************************************************/

$white:             #f2f2f2;
$cream:				#EEE7DA;
$bailys:			#D0BFAD;
$light-dirt:		#9F9896;
$dirt:				#625E65;
$brick:				#926D66;
$orange:			#CC9673;
$yellow:			#EFB175;

$text-color:        $dirt;
$black:             darken($dirt, 30%);

$link-color:        $orange;
$link-hover:        darken($link-color, 9%);

$alert-red:					#c0392b;
$alert-green:				#27ae60;
$alert-blue:				#2980b9;


$background-color: $cream;
$brand-color:      $brick;

$grey-color:       $light-dirt;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);