.category-tabs{
	width: 100%;
	overflow: hidden;

	li{
		&.is-podcast{
			background-color: $yellow;
		}
		&.is-website{
			background-color: $brick;
		}
		&.is-book{
			background-color: $orange;
		}
		&.is-notes{
			background-color: $bailys;
		}

		width: 25%;
		height: 60px;
		line-height: 60px;
		display: inline-block;
		text-align: center;
		float: left;
		color: $cream;

		&:last-of-type{
			border-radius: 0 0 3px 0;
		}
		&:first-of-type{
			border-radius: 0 0 0 3px;
		}
	}
	li:not(:last-of-type){
		box-shadow: inset -7px 0px 39px -17px rgba(0,0,0,0.53);
	}
}